[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/iamyaash/PaperModPlus.git
[submodule "themes/PaperModPlus"]
	path = themes/PaperModPlus
	url = https://github.com/iamyaash/PaperModPlus.git
